* {
    color: white;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.header li {
    margin: 20px;
    list-style: none;
    font-size: clamp(1.75em, 1em + 0.8vw, 2.5em);
}

.header a {
    color: white !important;
    transition: 0.3s;
}

.header a:hover {
    cursor: pointer;
    color: #e53939 !important;
    transition: 0.3s;
}

@media(max-width: 640px) {
    .header {
        display: none;
    }
}




