.menuMobile {
    display: none;
}

@media(max-width: 640px) {
    .menuMobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(135deg, #e5393933, rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
    }

    .menuMobile a {
        margin: 0;
    }

}